@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Análisis de Datos a la DGII</h1>
    <p class="lead">Con el objetivo de llevar a cabo un análisis del comportamiento de recaudación de los mismos y evaluar futuras proyecciones y simulaciones en base al comportamiento pasado.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ISR</h2>
        <p>
            El cual deben pagar todas las empresas por sus ganancias o utilidades. También deben pagar este impuesto, las personas que devengan o ganan un salario superior a la exención contributiva.
        </p>
        <input type="button"
               value="ISR"
               onclick="location.href='@Url.Action("Index", "ISR")'" />
    </div>
    <div class="col-md-4">
        <h2>Parque vehicular</h2>
        <p>Es una etiqueta adhesiva (sticker) con una secuencia numérica, utilizado como control del pago del impuesto por derecho a la circulación de los vehículos de motor. Dicho impuesto es pagado anualmente. </p>
        <input type="button"
               value="Parque vehicular"
               onclick="location.href='@Url.Action("Index", "ParqueVehicular")'" />
    </div>
    <div class="col-md-4">
        <h2>Recaudación efectiva</h2>
        <p>Este impuesto se aplica al consumo de cualquier tipo de servicio, importación o la adquisición de cualquier bien. .</p>
        <input type="button"
               value="Recaudación Efectiva"
               onclick="location.href='@Url.Action("Index", "RecaudacionEfectiva")'" />
    </div>
</div>