@{
    ViewBag.Title = "Parque Vehicular";
}

<h2>Parque Vehicular</h2>
<br />
<br />
<h3>Subir archivo para actualizar DB</h3>
<br />
@using (Html.BeginForm("CargarCSV", "ParqueVehicular", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}
